/**
* BirthdayPage
 **/

 #BirthdayPage1 {
    overflow: hidden;
    margin: 75px 0 0 0;
    padding: 0 0 40px 0;
    background: #fff;
}

#BirthdayPage1 h1 {
   font-size: 38px;
   font-family: 'OpenSans-Light',sans-serif;
   font-weight: 600;
   margin: 40px 0 40px 0;
   text-transform: uppercase;
}

#BirthdayPage1 h2 {
    font-size: 45px;
    font-family: 'OpenSans-Bold',sans-serif;
    font-weight: 800;
    margin: 0 0 40px 0;
}


#BirthdayPage5 img {
    width: 100%;
    height: 400px;
    padding: 10px 0;
}

#BirthdayPage5 h2 {
    font-size: 45px;
    font-family: 'OpenSans-Bold',sans-serif;
    font-weight: 800;
    margin: 0 0 40px 0;
    text-transform: uppercase;
 }

 #BirthdayPage5 .BirthdayPage5_image_1,
 #BirthdayPage5 .BirthdayPage5_image_3 {
    height: auto;
    width: 100%;
 }

 #BirthdayPage5 .BirthdayPage5_image_4,
 #BirthdayPage5 .BirthdayPage5_image_5 {
    height: auto;
    width: 100%;
 }

 #BirthdayPage5 .BirthdayPage5_image_2,
 #BirthdayPage5 .BirthdayPage5_image_7 {
    height: auto;
    width: 100%;
 }

