/**
* BirthdayPage
 **/

 #BirthdayPage1 {
    overflow: hidden;
    margin: 75px 0 0 0;
    background: #fff;
}

#BirthdayPage1 h1 {
   font-size: 38px;
   font-family: 'OpenSans-Light',sans-serif;
   font-weight: 600;
   margin: 40px 0 40px 0;
   text-transform: uppercase;
}

#BirthdayPage1 h2 {
    font-size: 45px;
    font-family: 'OpenSans-Bold',sans-serif;
    font-weight: 800;
    margin: 0 0 40px 0;
}

#BirthdayPage2 {
    overflow: hidden;
    margin: 25px 0;
    padding: 0 0 40px 0;
    background: #fff;
}

#BirthdayPage3 {
    overflow: hidden;
    margin: 25px 0;
    padding: 0 0 40px 0;
    background: #fff;
}

#BirthdayPage4 {
    overflow: hidden;
    margin: 25px 0;
    padding: 0 0 40px 0;
    background: #fff;
}

#BirthdayPage5 {
    overflow: hidden;
    margin: 25px 0;
    padding: 0 0 40px 0;
    background: #fff;
}


#BirthdayPage5 img {
    margin: 5px 5px;
}

#BirthdayPage5 h2 {
    font-size: 45px;
    font-family: 'OpenSans-Bold',sans-serif;
    font-weight: 800;
    margin: 0 0 40px 0;
    text-transform: uppercase;
 }

 #BirthdayPage5 p {
    font-size: 18px;
    font-family: 'OpenSans-Regular',sans-serif;
    font-weight: 400;
    margin: 0 0 40px 0;
 }

 #BirthdayPage5 .BirthdayPage5_image_1,
 #BirthdayPage5 .BirthdayPage5_image_3 {
    height: 350px;
    width: 540px;
 }

 #BirthdayPage5 .BirthdayPage5_image_4,
 #BirthdayPage5 .BirthdayPage5_image_5 {
    height: 400px;
    width: 650px;
 }

 #BirthdayPage5 .BirthdayPage5_image_2,
 #BirthdayPage5 .BirthdayPage5_image_7 {
    height: 350px;
    width: 210px;
 }

 #BirthdayPage5 .BirthdayPage5_image_6,
 #BirthdayPage5 .BirthdayPage5_image_8 {
    height: 350px;
    width: 540px;
 }


 #BirthdayPage6 {
    overflow: hidden;
    margin: 25px 0;
    padding: 0 0 40px 0;
    background: #fff;
}
