/**
* PolyticSpage
**/

#PolyticSpage {
    overflow: hidden;
    background: #fff;
    padding: 40px 0;
    margin: 75px 0 0 0;
}

#PolyticSpage h2 {
    font-size: 28px;
    font-family: 'OpenSans-Bold',sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    margin: 20px 0 40px 0;
    line-height: 50px;

}

#PolyticSpage p  {
    font-size: 20px;
    font-family: 'OpenSans-Regular',sans-serif;
    font-weight: 300;
}


@media (max-width: 575px){

		
}


@media (min-width: 576px) and (max-width: 767px) { 


}

@media (min-width: 768px) and (max-width: 992px) { 


}

@media (min-width: 993px) and (max-width: 1200px) { 


}


@media (min-width: 1201px) and (max-width: 1400px) { 


}

@media (min-width: 1401px) and (max-width: 2500px) { 


}