/**
* ReviewsPage
 **/

 #ReviewsPage {
    overflow: hidden;
    margin: 70px 0 0 0;
    padding: 0 0 40px 0;
    background: #fff;
}

#ReviewsPage h1 {
   font-size: 38px;
   font-family: 'OpenSans-Light',sans-serif;
   font-weight: 600;
   margin: 40px 0 60px 0;
   text-transform: uppercase;
}

#ReviewsPage h3 {
   font-size: 28px;
   font-family: 'OpenSans-Regular',sans-serif;
   font-weight: 400;
   margin: 10px 0 20px 0;
}

#ReviewsPage p{
   font-family: 'OpenSans-Regular',sans-serif;
   font-weight: 400;
   font-size: 16px;
}

#ReviewsPage .reviews__photo {
   width: 100%;
   height: 280px;
   margin: 0 -20px 0 0 !important;
}

/*
эскизы страниц
*/

#ReviewsPage .card {
    min-height: 300px;
    border: none !important;
    background: #fff;
}

#ReviewsPage .card-body {
    background: #F7CBA8;
    min-height: 300px;
    margin: 0 0 0 -25px;
}

#ReviewsPage .card p{
   text-align: right;
   font-family: 'OpenSans-Regular',sans-serif;
   font-weight: 400;
}

#ReviewsPage .card a{
    color: #000 !important;
    font-family: 'OpenSans-Regular',sans-serif;
}

#ReviewsPage .reviews__photo {
    width: 100%;
    height: 300px;
    margin: 0 -15px 0 0;
}

@media (max-width: 575px){

		
}


@media (min-width: 576px) and (max-width: 767px) { 


}

@media (min-width: 768px) and (max-width: 992px) { 


}

@media (min-width: 993px) and (max-width: 1200px) { 


}


@media (min-width: 1201px) and (max-width: 1400px) { 


}

@media (min-width: 1401px) and (max-width: 2500px) { 


}